


      <% for (var i=0; i<Module.length;i++) { %>
          <% if(Module[i].제목){ %>
    <li id="anchorBoxId_10013"  style= "list-style: none;"class="xans-record">
      <div class="thumbnail">
        <div class="prdImg">
          <a
            href="<%= `/pocadetail/${Module[i]._id}` %>"
            name="anchorBoxName_10013"
            ><img
              src="<%= `/public/image/${Module[i].이미지}` %>"
              
              alt="<%= Module[i].이미지 %>"
          /></a>
        </div>
      </div>
      <div class="description">
        <strong class="name"style ="display: block; border-bottom: 1px solid #ebebeb; padding-bottom: 6px;">
          <a href="<%= `/pocadetail/${Module[i]._id}` %>" class="hit" data-id = "<%= Module[i]._id %>" ><span class="title displaynone">
            <span id="total" data-id = "<%= Module[i]._id %>"> 조회수 : <%= Module[i].조회수 %> </span>
            <span   style="font-size: 20px; color: #000000; font-weight: bold" data-id = "<%= Module[i]._id %>">
                <%= Module[i].제목 %>

              </span>
            </span></a></strong>
        <ul class="xans-element- xans-product xans-product-listitem-2 xans-product-listitem xans-product-2 spec" style= "list-style: none;">
          <li class="xans-record-">
            <span style="font-size: 15px; color: #000000">
                <%= Module[i].값 %>
            </span>
          </li>
        </ul>
      </div>
    </li>
   <% }  %>
   <% }  %>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
      
      

      


      
       
       // 브라우저 콘솔창에 나오기
       
 
    



      
      
      
      </script>



    


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">


 