<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/public/qna.css">

    <title>BUTTERFIY</title>
  </head>
  <body>

    <%- include('nav.html') %>
    
   
    <h4 class ="ml-2 my-3 text-center"> 서버에서 가져온 할 일 리스트</h4>


      <div class="container input-group mb-2">
        <input class="form-control" id = "search-input">
        <button class="input-group-append btn btn-danger" id = "search">검색</button>
      </div>

    <!-- query string 작성 방법
          ?데이터이름=데이터값     데이터이름으로 데이터값 서버로 전달 됨  -->

        



      
        
      <ul class="list-group">

        <% for(var i= 0;i<posts.length;i++){ %>
        <li class="list-group-item">
          
            <h5>할 일 제목 : <%= posts[i].제목 %></h5>
            <p>날짜 : <%= posts[i].날짜 %></p>
            <button class="btn btn-outline-success delete" data-id ="<%= posts[i]._id%>">삭제</button> <!-- data-id는 html문법 몰래 아이디를 숨길 수 있음!-->
               <!--수정버튼을 누르면 edit.ejs로 들어가기-->
            
            <button onclick="location.href='/edit/'+'<%= posts[i]._id %>' " class="btn btn-outline-success update" data-id="<%= posts[i]._id %>" >수정</button>
            <button  class="btn btn-secondary chart" data-id="<%= posts[i]._작성자 %>" >댓글달기</button>
           

        <% } %>  

        
          
        </li>
      
    </ul>

    



    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <script>


  $('#search').click(function(){
    var 입력한값 = $('#search-input').val()  //input 유저가 입력한 값
    window.location.replace('/search?value='+입력한값)   // url을 바꿔주세요
    
  })
  
  


  
//     $('.delete').click((e)=>{ // e : 이벤트 객체
//       var number = e.target.dataset.id; 
//       var event = $(e.target); // this는 현재 지금 이벤트 동작하는 곳! 
// // 변수 글번호 선언.
// // e.target : 실제로 내가 누른 요소 (지금 내가 클릭한 것)
// // dataset.id : 내가 지금 누른 요소 중 숨겨져있는 id를 가져와!
  
      // $.ajax({
      //   method : 'DELETE',
      //   url : '/delete',
      //   data: {_id: number}
      // }) .done((res)=>{
      //   console.log('성공해써용'); // 브라우저 콘솔창에 나오기
      //   event.parent('li').fadeOut();
        
      //   //.parent() = ~의 부모태그를 찾아줘ㅠ 따라서 지금 누른 버튼의 부모태그를 찾아줭 ex ) 현재 버튼 누른 li태그 찾아줘
      //   // 내가 지금 누른 버튼의 부모 중 li가 있으면 그거 숨겨줘!
  
      // }) .fail((res)=>{ // a,b,c 뜻 : xhr,textStatus,errorthrown
      //   console.log('실패'); 


      // });
      // })

      
 


    
    
    </script>


   <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->

  </body>
</html>